# Hammer Config Files

*.db
*.egg
*.egg-info
*.mo
*.py[cod]
*.so

.coverage
.idea
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.test
.tox

bin/settings-private
build

develop-eggs
dist
docs/_build

eggs
env

lib
lib64

nosetests.xml

output/*.html
output/*/index.html

parts
pip-log.txt

README.html

sdist

test/

var
